@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-offwhite: #F8F7F4;
}

body {
  background-color: var(--color-offwhite);
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-gray-200;
  }
}